
@import "tailwindcss";



.swiper-button-next,
.swiper-button-prev {
  background: white;
  border-radius: 9999px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: 40px;
  height: 40px;
}


.whats-float {
  position: fixed;
  transform:translate(108px,0px);
  top:28%;
  right:0;
  width:150px;
  overflow: hidden;
  background-color: #25d366;
  color: #FFF;
  border-radius: 2px 0 0 2px;
  z-index: 24;
  transition: all 0.5s ease-in-out;
  vertical-align: middle
}
/* 
.whats-float a span {
  color: white;
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 10px;
  position: absolute;
  line-height: 16px;
  font-weight: bolder;
} */

.whats-float i {
  font-size: 30px;
  color: white;
  line-height: 30px;
  padding: 10px;
  /* transform:rotate(0deg);
  transition: all 0.5s ease-in-out;
  text-align:center; */

}

/* .whats-float:hover {
  color: #FFFFFF;
  transform:translate(0px,0px);
}

.whats-float:hover i  {
  transform:rotate(360deg);
} */

